doctype html
html
	head
		title administracion
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		// <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
	body
		// Nombre del Sitio
		.container.text-center.jumbotron
			h1 Plataforma Educativa Regimiento Aroma
		// Navbar
		.container
			nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
				// Links
				ul.navbar-nav
					li.nav-item
						a.nav-link(href='/') Inicio
					// Dropdown
					li.nav-item.dropdown
						a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Agregar
						.dropdown-menu
							a.dropdown-item(href='/doce/agregar') Cursos
							a.dropdown-item(href='/doce/agregar') Areas
							a.dropdown-item(href='/doce/agregar') Materia 3
					li.nav-item
						a.nav-link(href='#') Ayuda
					li.nav-item
						a.nav-link(href='#') Contacto
					li.nav-item
						a.nav-link(href='#')  Cerrar Sesion
		hr
		// Contenderores
		.container
			.row
				.border.border-dark.jumbotron.col-md-7
					h2 Agregar Curso
					hr
					form(action='#', method='post')
						.form-group
							label(for='curso') Curso
							input#user.form-control(type='text', name='curso', placeholder='Curso')
						
						.form-group
							label(for='nivel') Nivel
							select(name='tipo', style='')
								option(value='tipo1') Inicial
								option(value='tipo2') Primario
						.row.top-space
							.col-xs-6.col-sm-6
								input.btn.btn-primary.btn-block(type='submit', value='guardar')
				.col-md-1
				// contenedor login
				.border.border-dark.col-md-4
					h2.border.border-dark CURSOS
					form(action='/session', method='post')
						.form-group.border.border-dark
							a.btn.btn-secondary(href='#') Nivel Inicial
						.form-group.border.border-dark
							a.btn.btn-secondary(href='#') Nivel Primario

		style(type='text/css').
			.fond_color {
			background-color: #549EB8;
			}