doctype html
html
	head
		title administracion
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		// <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
		link(href="/public/css/app.css" rel="stylesheet")
	body
		// Nombre del Sitio
		// Navbar
		.container
			include navbar/navbarAdmin.pug
		hr
		// Contenderores
		.container
			.row
				.col-md-7.border.border-dark.jumbotron.fondcol
					h4 Lista Docentes Registrados
					if (!data)
						p No hay docentes registrados
					else
						table.table.table-sm.table-bordered
							thead
								tr
									th(scope='col') 
									th(scope='col') Nombre
									th(scope='col') Apellido
									th(scope='col') C.I.
							tbody
								for x in data
									tr
										td *
										td #{x.nombres}
										td #{x.apellidos}
										td #{x.ci}
				.col-md-1
				// contenedor login
				.border.border-dark.col-md-4.jumbotron.fondcol
					
					form(action='/session', method='post')
						.form-group
							a.btn.btn-success(href='/admin/add_docente') Crear Nuevo Usuario
						.form-group
							a.btn.btn-primary(href='#') Publicar

		style(type='text/css').
			.fond_color {
			background-color: #549EB8;
			}