doctype html
html
	head
		title docente
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		// <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
		link(href="/public/css/app.css" rel="stylesheet")
	body
		// Nombre del Sitio
		//-.container.text-center.jumbotron
			h1 Plataforma Educativa Regimiento Aroma
		// Navbar
		.container
			include ../navbar/navbarAdmin.pug
		hr
		// Contenedor
		.container
			.row
				.col-md-4.mx-auto
					.card
						.card-body.fondcol
							h4 Registrar Nuevo Docente
							form(action='/admin/add_docente', method='post')
								.form-group
									label(for='nom') Nombres 
									input#user.form-control(type='text', name='nom', placeholder='Nombre')
								.form-group
									label(for='ap') Apellidos 
									input#user.form-control(type='text', name='ap', placeholder='Apellido')
								.form-group
									label(for='ci') CI 
									input#user.form-control(type='text', name='ci', placeholder='Numero Carnet')
								.form-group
									label(for='pass') Contrasena 
									input#user.form-control(type='text', name='pass', placeholder='Contrasena')
								.row.top-space
									.col-xs-6.col-sm-6
										input.btn.btn-primary.btn-block(type='submit', value='Crear')