doctype html
html
	head
		title docente
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		// <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
	body
		// Nombre del Sitio
		.container.text-center.jumbotron
			h1 Plataforma Educativa Regimiento Aroma
		// Navbar
		.container
			include ../navbar/navbarDoce.pug
		hr
		// Contenedor
		.container
			.row
				.col-md-4.border.border-dark.mx-auto
					.card
						.card-body
							h4 Crear nuevo curso
							form(action='/doce/add_curso', method='post')
								.form-group
									label(for='grado') Grado o nombre del Curso 
									input#user.form-control(type='text', name='grado', placeholder='Ejemplo : Primero, Segundo ...')
								.form-group
									label(for='nivel') Nivel del Curso :
									br 
									select(name='nivel', style='')
										option(value="1") Inicial
										option(value="2") Primario
									
								.row.top-space
									.col-xs-6.col-sm-6
										input.btn.btn-primary.btn-block(type='submit', value='Crear')
				.col-md-4.border.border-dark.mx-auto
					.card
						.card-body
							h4 Cursos Registrados
							if (!cursos[0])
								p Aun no Existe Cursos
							else
								table.table.table-sm.table-bordered
									thead
										tr
											th(scope='col') #
											th(scope='col') Nombre
									tbody
										for c in cursos
											tr
												th(scope='row') *
												td #{c.nombre}